.row
  .col-md-4
    %h1 Mi perfil

  .col-md-2.offset-md-6
    - if policy(@user).edit?
      = link_to('Editar usuario', [:edit, @user], class: 'btn btn-success')

%h3 Email
%p= current_user.email

%h3 Rol
%p= current_user.rol

- if @user.id == current_user.id
  = link_to('Cambiar password', [:edit, current_user], class: 'btn btn-primary')