%nav.navbar.navbar-expand-lg.navbar-light.bg-light.px-5
  %a.navbar-brand{href: "#"} Gestor de turnos
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav
      %li.nav-item
        = link_to('Sucursales', sucursales_path, class: 'nav-link')

    - if user_signed_in?
      %ul.navbar-nav.ms-auto
        %li.nav-item
          = link_to(current_user.email, edit_user_path(current_user), class: 'nav-link')

        %li.nav-item
          = link_to('Cerrar sesión', '/logout', class: 'nav-link btn btn-outline-danger my-2 my-sm-0', data: { turbo_method: :delete, turbo_confirm: "Estas seguro de querer cerrar sesión?" })